* {
  font-family: monaco;
}
 
#container {
	margin: 0 auto;
	width: 850px;
	height: auto;
    /*background-color: green;*/
	/*border:solid;*/
    }

header {
    width: 700px;
    height: auto;
}
header a {
	margin-left: 500px;
}

#left {
	margin-top: 40px;
	padding-top: 50px;
	width: 400px;
	height: 200px;
    display: inline-block;
    vertical-align: top;
}

	#left input[type=submit] {
		border: 1px solid black;
		font-size: 12px;
	}

#right {
    margin-top: 40px;
	width:400px;
	height: 200px;
	padding-top: 50px;
    display: inline-block;
    vertical-align: top;
	/*border:solid;*/
}

	#right input[type=submit] {
		border: 1px solid black;
		font-size: 12px;
	}

.error {
	background-color: red;
	color: white;
	width: 400px;
	padding: 10px;
}

.success {
	background-color: green;
	color: white;
	width: 400px;
	padding: 10px;
}