* {
  font-family: monaco;
}
 
#container {
	margin: 0 auto;
	width: 600px;
	height: auto;
    /*background-color: green;*/
	/*border:solid;*/
    }

    #top {
    	margin-top: 40px;
    	padding-top: 50px;
    	width: 400px;
    	height: 200px;
    }

    #bottom {
    	width:400px;
    	height: 200px;
    	padding-top: 50px;
    	/*border:solid;*/
    }

.error {
	color: red;
	color: white;
	width: 400px;
	padding: 10px;
}

.success {
	color: green;
	color: white;
	width: 400px;
	padding: 10px;
}