* {
  font-family: monaco;
}
 
#container {
	margin: 0 auto;
	width: 850px;
	height: auto;
    }

#top {
	margin-top: 100px;
	width: 700px;
	height: auto;
}

#top a {
	margin-left: 600px;
	display: inline-block;
}

.error {
	background-color: red;
	color: white;
	width: 400px;
	padding: 10px;
}

.success {
	background-color: green;
	color: white;
	width: 400px;
	padding: 10px;
}